<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo"><%= image_tag 'UNIFESO-BRANCO.png'%></a>

    <ul class="right">
      <% if current_user.admin %>
      <li><%= link_to 'Overview', admin_index_path %></li>
      <% end %>
      <li><%= link_to 'Settings', edit_user_registration_path %></li>
      <li><%= link_to 'Exit', destroy_user_session_path, method: :delete %></li>
    </ul>
  </div>
</nav>