<div class='header'>
  <h3><%= I18n.t 'page.questions.edit.header' %></h3>
  <a class="btn-floating btn-large waves-effect waves-light"
     href= <%= questions_path %> >
    <i class="material-icons">arrow_back</i>
  </a>
</div>
<%= render 'form', question: @question %>