<div class="header">
  <h3><%= I18n.t 'page.questions.new.header' %></h3>
  <%= link_to :back, class: 'btn-floating btn-large waves-effect waves-light' do %>
    <i class="material-icons">arrow_back</i>
  <% end %>
</div>

<%= render 'form', question: @question %>