<div class="header">
  <h1>New Question</h1>
  <a class="btn-floating btn-large waves-effect waves-light red"
     href= <%= questions_path %> >
    <i class="material-icons">arrow_back</i>
  </a>
</div>

<%= render 'form', question: @question %>

