<div class="header">
  <h3><%= I18n.t 'page.questions.new.header' %></h3>
  <%= link_to :back, class: 'btn btn-secondary' do %>
    Voltar
  <% end %>
</div>

<%= render 'form', question: @question %>