<div class='header'>
  <h1>Editing Course</h1>
  <%= link_to :back, class: 'btn-floating btn-large waves-effect waves-light' do %>
    <i class="material-icons">arrow_back</i>
  <% end %>
</div>

<%= render 'form', course: @course %>