<div class='container animated slideInRight fast'>

<div class='header'>
<h1>New Course</h1>
  <a class="btn-floating btn-large waves-effect waves-light red"
     href= <%= admin_index_path %> >
    <i class="material-icons">arrow_back</i>
  </a>
</div>

<%= render 'form', course: @course %>

</div>