.actions {
  margin-top: 10px;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10%;
  margin-bottom: 5%;

  h1 {
    margin: 0;
  }
}
